<mat-card>
 <form (submit)="onAddPost(postForm)" #postForm='ngForm'  >
  <mat-form-field>
    <input type="text"
     matInput 
     name="title"
    ngModel
    required
    maxlength="20"
    #title="ngModel"> 
    <mat-error *ngIf="title.invalid">add proper title</mat-error>
  </mat-form-field>
  <mat-form-field >
    <textarea
     matInput 
     rows="2" 
     name="content"
     ngModel
     required
    
    #content="ngModel"
     > </textarea>
    <mat-error *ngIf="content.invalid">add proper content</mat-error>

    </mat-form-field>
 <button mat-raised-button
color='primary'
type="submit"  >Save Post</button>
 </form>
</mat-card>
 
 

 